button {
  background-color: rgb(170, 163, 163);
  padding: 5px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  transition: background-color 0.7s, color 0.7s;
}

button:hover {
  background-color: #084c79;
  color: white;

}

article img{
  width: 280px;
  height: 250px;
  border: 2px solid black;
  border-radius: 12%;
}

#filtrar-sede {
    text-align: end;
    margin: 10px;
}

.contenedor-calendario li {
    list-style: none;
}

.contenedor-calendario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-calendario article {
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descripcion{
  padding-top: 20px;
}

.descripcion p{
  display: inline;
  font-weight: bold;
}

.descripcion ul {
    padding-top: 15px;
}

.descripcion li{
    padding: 5px 0px;
}

.descripcion h4 {
    font-size: 1.5em;
}
.precio {
    font-weight: bold;
    padding-top: 10px;
}