#filtrar-sede{
    text-align: end;
    margin: 10px;
  }
  .contenedor-calendario li{
    list-style: none;
  }
  .contenedor-calendario{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap: wrap;
  }
  .contenedor-calendario article{
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  button{
    background-color: rgb(170, 163, 163);
    padding: 5px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    transition: background-color 0.7s, color 0.7s;
    
  }
  button:hover{
    background-color: #084c79;
    color: white;
    
  }
  .precio{
    font-weight: bold;
  }