.contenedorEstablecimiento{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 100px;
  }
  
  .contenedorEstablecimiento article{
  width: calc(50% - 200px);
  box-sizing: border-box;
  }

  .contenedorEstablecimiento .datosInstituto{
      margin: 12px;
  }

  .contenedorEstablecimiento img{
      height: 200px;
      width: 200px;
      border-radius: 10%;
      border: 2px solid black;
  }
  
  .barraBusqueda {
      height: 100%;
      position: absolute;
      text-align: center;
      width: 100%;
  }