* {
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(../img/fondo.png);
}

h1,h2{
  text-align: center;
  padding: 25px 10px;
  margin: 2px 20px;
}

main {
  width: 90%;
  margin: auto;
}

header {
  background-color: #074168;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: rgba(48, 47, 45, 0.952) solid;
  color: aliceblue;
}

header > img{
  width: 91px;
  padding: 2px 5px;
}

footer{
  background-color: #074168;
  color: white;
  padding: 10px;
  margin-top: 10px;
}
footer a{
  color: white;
}

li {
  list-style: none;
}

a{
  text-decoration: none
}



/* INICIO BARRA NAV */

#menu_principal ul{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu_principal li{
  list-style: none;
  padding: 5px 1px;
  
}
#menu_principal a{
  text-decoration: none;
  color: white;
  padding: 5px 7px;
  margin: 0px 7px;
  background-color: #074168;
  transition: background-color 0.7s, color 0.5s, scale 0.7s;
  border-radius: 5px;
  
}
#menu_principal a:hover {
  color: black;
  background-color:#fafcfd;
}

#menu_principal li:hover{
  transform: scale(1.2);
}


/* FIN BARRA NAV */


/* INICIO FOOTER */
.contenedor-footer {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.contenedor-footer div {
  width: calc(33,3% - 10px);
}

.contenedor-footer div h5 {
  margin: 15px 0px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}

.contenedor-footer p{
  text-align: justify;
}

.redes li {
  display: inline-block;
}

.redes a{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: block;
}

.redes a:hover{
  transform: scale(1.2);
}

.facebook {
  background-image: url(../img/icono-fb.jpg);
  background-size: cover;
}

.instagram {
  background-image: url(../img/icono-ig.jpg);
  background-size: cover;
}

.twitter {
  background-image: url(../img/icono-tw.jpg);
  background-size: cover;
}

.youtube {
  background-image: url(../img/icono-yt.jpg);
  background-size: cover;
}

.whatsapp {
  background-image: url(../img/icono-wp.jpg);
  background-size: cover;
}

.menu-inferior a:hover{
  color: #bbbbbb;
}

/* FIN FOOTER */
button{
  background-color: rgb(170, 163, 163);
  padding: 5px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  transition: background-color 0.7s, color 0.7s;
}
button:hover{
  background-color: #084c79;
  color: white;
}
.precio{
  font-weight: bold;
  padding-top: 10px;
}
