* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: rgb(71, 199, 135);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: black 10px solid;
}

footer {
  background-color: rgb(71, 199, 135);
  padding: 10px;
  border-top: black 10px solid;
  text-align: center;
  margin-top: 10px;
}

main{
  width: 80%;
  margin: auto;
}

footer li {
  list-style: none;
}

a {
  text-decoration: none;
}

.contenedor-footer {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  flex-wrap: wrap;
}

.contenedor-footer div {
  width: calc(33, 3% - 10px);
}

.contenedor-footer div h5 {
  margin: 15px 0px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.redes li{
  display: inline-block;
}

/* Calendario*/
h1{
  text-align: center ;
  margin: 50px;
}
h2{
  margin-bottom: 10px;
}
h4{
  font-size: large;
}

button{
  background-color: grey;
  padding: 5px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}
button:hover{
  background-color: blue;
}
.precio{
  font-weight: bold;
}

/*DETALLE ESTABLECIMIENTOS*/

h3{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}